<div class="container">
  <div class="row">
    <div class="col-md-12">
      
      <h2 class="text-center">Shorten all the Urls!!!</h2>
    
    </div>
    
</div>


<div class="container">
  <div class="col-md-12">
    <div class="text-center">
    <%= form_for :url, url: urls_path do |f| %>
  <p>
    <%= f.label :original_address %><br>
    <%= f.text_field :original_address %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

    </div>
  </div>
</div>



<div class="container">
  <div class="col-md-12">
    <div class="text-center">

  <h3>A list of all your URLs</h3>
  <p>
    <% @urls.each do |link| %>
    <ul>
    
    <li><a href="<%link.original_address%>"> <%=link.original_address%></a></li>
      <li><a href="/<%=link.shortened_url%>"> <%=link.shortened_url%> </a>
      </li>
    </ul>
    <% end %>

    </div>
  </div>
</div>
